.country-selector {
  position: relative;

  &__control {
    position: relative;
  }

  &__toggle {
    width: 100%;
    background: rgba(24, 37, 78, 0.08);
    color: rgba(24, 37, 78, 1);
    border: none;
    height: 40px;
    border-radius: 4px;
    padding: 0 15px;
    box-sizing: border-box;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    text-align: left;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;

    &--disabled {
      background-color: #f3f4f6;
      cursor: not-allowed;
    }
  }

  &__placeholder {
    color: rgb(132 133 136);
  }

  &__selected {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__flag {
    margin-right: 0.5rem;
    height: 1rem;
    border-radius: 0.125rem;
    width: 24px;
  }

  &__icon {
    display: flex;
    align-items: center;
  }

  &__icon-svg {
    width: 1.25rem;
    height: 1.25rem;
    color: #9ca3af;
  }

  &__list {
    position: absolute;
    top: calc(100% + 0.25rem);
    width: 100%;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.375rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    max-height: 20rem;
    overflow: hidden;
  }

  &__search-container {
    padding: 0.5rem;
    background-color: #fff;
  }

  &__input {
    width: 100%;
    padding: 0.375rem 0.5rem;
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    outline: none;
  }

  &__divider {
    height: 1px;
    background-color: #e5e7eb;
    margin: 0;
  }

  &__options-container {
    max-height: 16rem;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #9ca3af #f3f4f6;
  }

  &__option {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: #f9fafb;
    }
  }

  &__option--no-result {
    cursor: default;
  }

  &__option-text {
    flex: 1;
    margin-left: 0.5rem;
    font-size: 0.875rem;
  }

  &__option-selected-icon {
    display: flex;
    align-items: center;
  }

  &__check-icon {
    width: 1.25rem;
    height: 1.25rem;
    color: #2563eb;
  }
}

/* Анимации для появления/исчезновения элемента */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 100ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 100ms ease-in;
}
